<!DOCTYPE html>
<html>
  <head>
    <title>直播之窗 - 直播搜索引擎</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/include/util.css' />
    <link rel='stylesheet' href='/stylesheets/pure-min.css' />
    <link rel='stylesheet' href='/lib/remodal/remodal.css' />
    <link rel='stylesheet' href='/lib/remodal/remodal-default-theme.css' />
  </head>
  <body>
    <%- include('./include/header.ejs') %>
    <div class="content">
      <div class="filter-info">
          <ul class="sorts">
            <li class="sort">
              <a class="first active" href="#">人气从高到低</a>
            </li>
            <li class="sort dropdown">
              <a <% if (platform && platform !== '') { %>class="active"<% } %> href="#">平台<% if (platform && platform !== '') { %>:<%=platform%><% } %></a>
              <ul class="droplist">
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="" class="platformChange">全部平台</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="douyu" class="platformChange">斗鱼</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="quanmin" class="platformChange">全民</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="xiongmao" class="platformChange">熊猫</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="zhanqi" class="platformChange">战旗</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="longzhu" class="platformChange">龙珠</a>
                </li>
                <li class="sort">
                  <a href="javascript:void(0)" data-platform="huomao" class="platformChange">火猫</a>
                </li>
              </ul>
            </li>
            <li class="sort dropdown">
              <a <% if (category !== '') { %>class="active"<% } %> href="#">分类<% if (category !== '') { %>:<%=category%><% } %></a>
              <ul class="droplist">
                <li class="sort">
                  <a href="javascript:void(0)" data-category="" class="categoryChange">全部分类</a>
                </li>
                <%for (var i=0;i<categorys.length;i++){%>
                <li class="sort">
                  <a href="javascript:void(0)" data-category="<%=categorys[i].category%>" class="categoryChange"><%=categorys[i].category%></a>
                </li>
                <%}%>
              </ul>
            </li>
          </ul>
      </div>
      <ul id="live-list-contentbox" class="play-list clearfix">
        <%for (var i=0;i<lives.length;i++){%>
        <li>
            <a class="play-list-link" href="<%=lives[i].url%>" title="<%=lives[i].title%>" target="_blank">
                <span class="imgbox">
                    <span class="imgbox-corner-mark"></span>
                    <b></b>
                    <img src="<%=lives[i].imageUrl%>" style="display: block;">
                    <img class="platform-logo" src="/images/platform_logo/<%=lives[i].platform%>.png">
                </span>
                <div class="mes">
                    <div class="mes-tit">
                        <h3 class="ellipsis"><%=lives[i].title%></h3>
                        <span class="tag ellipsis"><%=lives[i].category%></span>
                    </div>
                    <p>
                      <span class="dy-name ellipsis"><%=lives[i].author%></span>
                      <span class="dy-num"><%=lives[i].personNum%></span>
                    </p>
                </div>
            </a>
        </li>
        <%}%>
      </ul>
      <div class="tcd-page-code">
        <a href="javascript:void(0)" data-page="<%=pageNum-1%>" class="pageChange shark-pager-prev
          <% if (pageNum <= 1) { %> shark-pager-disable shark-pager-disable-prev <% } %>">上一页</a>
        <%for (var i = startPageNum;i <= endPageNum;i++){%>
        <a href="javascript:void(0)" data-page="<%=i%>" class="pageChange shark-pager-item <% if (i === pageNum) { %>current<% } %>"><%=i%></a>
        <%}%>
        <a href="javascript:void(0)" data-page="<%=pageNum+1%>" class="pageChange shark-pager-next
          <% if (pageNum >= pageTotalCount) { %> shark-pager-disable shark-pager-disable-next <% } %>">下一页</a>
        <span class="jumppage">跳转到：</span><input id="pageJumpInput" class="jumptxt" name="" type="text"><a id="pageJumpBt" href="javascript:void(0)" class="pageChange shark-pager-submit">GO</a>
      </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lib/remodal/remodal.min.js"></script>
    <script src="/javascripts/include/util.js"></script>
    <script src="/javascripts/include/header.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
